body {
            font-family: 'Montserrat', Arial, sans-serif;
            background-color: #121212;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
        .custom-navbar {
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1000;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(6px);
        }
        .custom-navbar a {
            color: #ffffff;
            text-decoration: none;
            margin: 0 10px;
            padding: 5px 10px;
        }
        .custom-navbar a:hover {
            background-color: #495057;
            border-radius: 4px;
        }
        .container {
            margin-top: 120px;
            max-width: 100%; /* Full width */
            padding: 20px;
            margin: 0 auto;
        }
        .config-wrapper {
            display: flex;
            justify-content: center;
        }
        .config-container {
            padding: 20px;
            background-color: #1e1e1e;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            width: 100%; /* Use full width */
            max-width: 1600px; /* Maximum width of the config container */
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 100px;
        }
        .form-group {
            margin-bottom: 20px;
            width: 100%; /* Full width */
            position: relative;
        }
        .form-label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
        }
        .form-control-dark {
            background-color: #333;
            border: 1px solid #444;
            color: #ffffff;
            padding: 10px;
            border-radius: 4px;
            width: 100%; /* Full width */
            box-sizing: border-box;
        }
        .btn-primary-dark {
            background-color: #1a73e8;
            border: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 4px;
            width: 100%;
            cursor: pointer;
            font-weight: 500;
            margin-top: 20px;
        }
        .btn-primary-dark:hover {
            background-color: #155ab6;
        }
        .btn-show {
            position: absolute;
            top: 40%;
            right: 10px;
            transform: translateX(15%);
            background-color: #1a73e8;
            border: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 500;
        }
        .btn-show:hover {
            background-color: #155ab6;
        }
        /* Media Queries */
        @media (max-width: 1200px) {
            .container {
                max-width: 100%;
                margin-top: 10px;
            }
        }
        @media (max-width: 992px) {
            .container {
                max-width: 100%;
                margin-top: 10px;
            }
        }
        @media (max-width: 768px) {
            .container {
                max-width: 100%;
                margin-top: 10px;
            }
        }
        @media (max-width: 576px) {
            .container {
                max-width: 100%;
                padding: 0 10px;
                margin-top: 10px;
            }
        }