body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 75px; 
    max-width: 80%;
}
.custom-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
}
.custom-navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
}
.custom-navbar a:hover {
    background-color: #495057;
    border-radius: 4px;
}
.form-control-dark {
    background-color: #333;
    border-color: #444;
    color: #ffffff;
    width: 100%;
}
.btn-primary-dark {
    background-color: #1a73e8;
    border-color: #1a73e8;
}
.card {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
}
.card .btn {
    color: #ffffff;
}
.input-group-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.search-container {
    width: 50%;
}
.tpdb-logo {
    max-height: 50px;
    display: inline-block;
}
.infographic {
    position: fixed;
    top: 75px;
    left: 10px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.infographic h4, .infographic p {
    margin: 0;
    padding: 0;
}
.legend-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.legend-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.legend-color {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}
.legend-collected {
    background-color: #00b09b;
}
.legend-missing {
    background-color: #ff5f6d;
}
#collectionChart {
    width: 200px;
    height: 200px;
}

#progress-bar-container {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    padding: 5px;
    z-index: 1000;            
}
#stash-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Space between logo and progress bar */
}
#progress-bar {
    width: 100%;
    height: 25px;
    background-color: #444;
    flex-grow: 1; /* Ensure the progress bar fills the remaining space */
}
#progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #1a73e8;
    text-align: center;
    color: white;
    line-height: 25px; /* Center the text vertically */
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: 90%;
        margin-top: 75px;
    }
    .search-container {
        width: 60%;
    }
    #progress-bar-container {
        width: 250px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 95%;
        margin-top: 75px;
    }
    .search-container {
        width: 70%;
    }
     #progress-bar-container { 
        max-height: 30px;
        max-width: 200px;
        transform: translateY(120%);
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 75px;
    }
    .search-container {
        width: 80%;
    }
    .infographic {
        display: none;
    }
    #progress-bar-container { 
    transform: translateY(120%);
    max-height: 30px;
    max-width: 120px;
    }
}

@media (max-width: 576px) {
    .container {
        margin-top: 75px;
    }
    .search-container {
        width: 90%;
    }
    .infographic {
        display: none;
    }
    #progress-bar-container { 
    transform: translateY(120%);
    max-height: 30px;
    max-width: 75px;
    }
}
