/* Smaller Performer Images on Performer Page */

div.item-list-container .performer-card-image {
    object-fit: cover;
    height: 250px; 
    border-radius: 10%; 
    display: grid;
}

div.item-list-container .rating-banner {
	display: none !important;
}

div.item-list-container .performer-card.grid-card.card {
    width: 150px !important; /* Adjust the width as needed */
    height: 400px; 
}


/***********************************************************/